.form {
    background: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto; /* Center horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    
   
}
  
  .form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form input, .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  .form-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust as needed */
  }
  
  .form-button-left {
    order: 1; /* Ensure the "Add Phase" button is on the right */
  }
  
  .form-button-right {
    order: 2; /* Ensure the "Next Step" and "Back" buttons are on the left */
  }
  .form-button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .fade-in-active {
    opacity: 1;
    transform: translateY(0);
  }

  .error-message {
    color: #dc3545;
    font-size: 0.9em;
    margin-top: 5px;
  }

  .phases-list {
    margin-top: 20px;
  }
  
  .phases-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .phases-list ul li {
    margin-bottom: 5px;
    font-size: 1.1em;
  }

  .tasks-list {
  margin-top: 20px;
}

.tasks-list ul {
  list-style-type: none;
  padding: 0;
}

.tasks-list ul li {
  margin-bottom: 5px;
  font-size: 1.1em;
}

